// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "./markdown.scss";

html {
    position: relative;
    min-height: 100%;
    img {
        max-width: 90% !important;
    }
}

div.fixPadding {
    padding: 0;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.blog-footer {
    padding: .7rem 0;
    color: #c1c1c1;
    text-align: center;
    background-color: #50616d;
    border-top: .05rem solid #e5e5e5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.topBar {
    margin-bottom: 20px;
}

.card-body {
    padding-bottom: 0px;
}
